* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 67px;
  background: rgb(18, 18, 62);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none !important;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none !important;
  color: white;
}
nav ul li a:hover {
  font-size: 1.02rem;
  color: rgb(223, 103, 223);
}
main hr {
  border: 0;
  background: rgb(223, 103, 223);
  height: 1.2px;
  margin: 60px 84px;
}
.left {
  font-size: 1.2rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 3rem;
}
.leftSection .buttons {
  padding: 50px 0;
}
.leftSection .btn {
  background: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  padding: 12px;
  margin: 10px;
}
.leftSection .btn:hover {
  font-size: 1.2rem;
  color: rgb(223, 103, 223);
}
.rightSection img {
  width: 90%;
}
.purple {
  color: rgb(223, 103, 223);
}
.text-Grey {
  color: grey;
}
#element {
  color: rgb(223, 103, 223);
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondSection h1 {
  font-size: 1.9rem;
}
.secondSection .Box {
  background: white;
  height: 2px;
  width: 85vw;
  margin: 56px 0;
  display: flex;
}
.secondSection .vertical {
  height: 95px;
  width: 1px;
  background: white;
  margin: 0px 120px;
}
.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
}
.vertical-desc {
  position: relative;
  top: 86px;
  color: grey;
  width: 150px;
  font-size: 9px;
}
.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}
.footer .footer-rights {
  text-align: center;
  color: black;
  background: white;
  padding: 10px;
}
.aboutSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.about-content h1 {
  font-size: 1.9rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 3rem 5rem 3rem;
  width: 50%;
}
.aboutSection hr {
  border: 0;
  background: rgb(223, 103, 223);
  height: 1.2px;
  margin: 60px 84px;
}
.aboutSection img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 110px 100vh;
  position: absolute;
  width: 30%;
}

#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
  display: inline-flex;
}
#projects .projects-header h1 {
	margin: -94px;
    font-size: 1.9rem;
    margin-left: 41px;
    padding: 10px 23px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  display: inline-flex;
}
#projects .project-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #33506f 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 2rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.2rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 30%;
	  height: auto;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

/* @media screen and (min-width: 1500px) {
    .firstSection{
        flex-direction: column-reverse;

    } 

} */
